---
import type { ProcessedSection } from '@/types/contentful-v2';
import Section from '@/components/Section.astro';
import Form from '@/components/Form';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import { Image } from 'astro:assets';
import GetInTouchImage from '@/assets/get-in-touch.svg';

interface Props {
  section: ProcessedSection;
}

const { section } = Astro.props;
---

<Section title={section.title || ''}>
  <div class="grid md:grid-cols-2 gap-12 items-center">
    <div>
      {section.headline && (
        <h2 class="text-3xl md:text-4xl font-medium mb-6">
          {section.headline}
        </h2>
      )}
      
      {section.description && (
        <div class="text-gray-600 mb-8 font-mono">
          {typeof section.description === 'string' 
            ? section.description 
            : documentToHtmlString(section.description)}
        </div>
      )}
      
      <Form client:load />
    </div>
    
    <div class="hidden md:block">
      {section.media ? (
        <img src={section.media.url} alt={section.media.alt} class="w-full" />
      ) : (
        <Image src={GetInTouchImage} alt="Get in Touch" class="w-full" />
      )}
    </div>
  </div>
</Section>

