---
import type { ProcessedSection } from '@/types/contentful-v2';
import Section from '@/components/Section.astro';
import PlanForm from '@/components/PlanForm';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import { cn } from '@/lib/utils';
import { ArrowRightIcon } from '@lucide/astro';

interface Props {
  section: ProcessedSection;
  color: string;
}

const { section, color } = Astro.props;
---

<Section title={
  section?.title || "/* --"
}>
  <div class="flex flex-col md:flex-row md:items-center gap-8 border-b pb-8" id="find-plan">
    <h2 class="text-3xl md:text-4xl font-medium">
      {section?.headline || "--"}
    </h2>
    <div
      class={
        cn("rounded-full flex items-center text-primary justify-center w-8 h-8 transform rotate-90 md:rotate-0", {
          "bg-brand-purple": color === "brand-purple",
          "bg-brand-blue": color === "brand-blue",
          "bg-brand-orange": color === "brand-orange",
          "bg-brand-yellow": color === "brand-yellow",
          "bg-brand-green": color === "brand-green",
        })
      }>
      <ArrowRightIcon class="text-foreground w-4 h-4 mx-2" />
    </div>

    <div class="font-mono text-sm">
        {section?.subtitle}
    </div>
  </div>


  <div class="mt-8">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <div class="plan-description lg:col-span-1" set:html={documentToHtmlString(section?.description)}/>
        <div class="lg:col-span-2">
          <PlanForm client:only="react" />
        </div>
      </div>
  </div>
  </Section
>


<style is:global>
  .plan-description h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .plan-description p {
    font-size: .85rem;
    margin-bottom: .75rem;
    line-height: 1.5;
  }

</style>
