---
import type { ProcessedSection } from '@/types/contentful-v2';
import Section from '@/components/Section.astro';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import he from 'he';


interface Props {
  section: ProcessedSection;
}

const { section } = Astro.props;
---

<Section title={section.title || ''}>
  <div class="grid md:grid-cols-2 gap-6">
    {section.items?.map((testimonial) => (
      <div class="flex flex-col justify-between">        
        {testimonial.description && (
          <blockquote 
            class="text-gray-700 mb-6 italic font-mono"
            set:html={typeof testimonial.description === 'string' 
              ? `"${testimonial.description}"` 
              : he.decode(documentToHtmlString(testimonial.description))}
          />
        )}
        
        <div class="flex flex-col items-center justify-center text-center gap-y-2">
          {testimonial.image && (
            <div class="border border-brand-purple rounded-full bg-brand-purple/30 p-2 mb-4">
              <img 
              src={testimonial.image.url} 
              alt={testimonial.title || 'Author'} 
              class="w-12 h-12 rounded-full border border-brand-purple"
            />
            </div>
          )}
          <div>
            {testimonial.title && (
              <div class="font-medium text-foreground">{testimonial.title}</div>
            )}
            {testimonial.subtitle && (
              <div class="text-sm text-muted-foreground">{testimonial.subtitle}</div>
            )}
          </div>
        </div>
      </div>
    ))}
  </div>
</Section>

