---
import Footer from "../components/Footer.astro";
import Terminal from "../components/Terminal.astro";
import Form from "../components/Form";
import Layout from "../layouts/Layout.astro";
import Analytics from "@vercel/analytics/astro";

import Logo from "@/components/Brand";
import { Image } from "astro:assets";

import TerminalImage from "../assets/legal-hero.svg";

import PostHogLayout from "../layouts/PostHogLayout.astro";

import TermsHtml from "../assets/terms.html?raw";

---

<PostHogLayout>
  <Layout>
    <!-- HERO -->
    <div class="relative">
      <div
        class="mx-auto max-w-sm md:max-w-4xl xl:max-w-7xl relative z-10 px-4 md:px-0"
      >
        <header class="flex justify-between items-center py-4 md:py-8">
          <a href="/">
          <Logo /></a>

          <nav class="flex items-center gap-4">
            <!-- <a href="#">Careers</a>
            <a href="#">Documentation</a> -->
            <a
              href="#get-in-touch"
              class="bg-brand-green text-black font-semibold jetbrains-mono text-sm uppercase px-4 py-2 rounded hover:bg-brand-green-hover transition-colors duration-200"
            >
              Get In Touch
            </a>
          </nav>
        </header>

        <div
          class="flex flex-col-reverse md:flex-row items-center justify-center mx-auto max-w-sm md:max-w-4xl xl:max-w-7xl relative z-10"
        >
          <div class="flex-1 mt-4">
            <svg
              width="14"
              height="32"
              class="mb-6"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14 32V28.6638H12.4587C11.581 28.6638 10.896 28.4369 10.4037 27.983C9.91131 27.5291 9.68654 26.8709 9.72936 26.0085L10.0505 20.5617C10.1361 19.1546 9.78287 18.0312 8.99083 17.1915C8.17737 16.3291 7.06422 15.8979 5.65138 15.8979V16.0681C7.08563 16.0681 8.19878 15.6482 8.99083 14.8085C9.78287 13.9688 10.1361 12.8454 10.0505 11.4383L9.72936 5.99149C9.68654 5.08369 9.91131 4.41419 10.4037 3.98298C10.8746 3.55177 11.5596 3.33617 12.4587 3.33617H14V0H12.1697C10.9281 0 9.8578 0.22695 8.95872 0.68085C8.05963 1.13475 7.37462 1.80426 6.90367 2.68936C6.41131 3.55177 6.20795 4.5844 6.29358 5.78723L6.61468 11.234C6.65749 12.3007 6.47553 13.0837 6.06881 13.583C5.64067 14.0823 4.83792 14.3319 3.66055 14.3319H0V17.6681H3.66055C4.83792 17.6681 5.64067 17.9291 6.06881 18.4511C6.47553 18.9504 6.65749 19.722 6.61468 20.766L6.29358 26.1787C6.20795 27.3816 6.41131 28.4142 6.90367 29.2766C7.37462 30.1617 8.05963 30.8312 8.95872 31.2851C9.8578 31.7617 10.9281 32 12.1697 32H14Z"
                fill="currentColor"></path>
              <path
                d="M1345.04 392.421V388.68H1343.31C1342.33 388.68 1341.56 388.425 1341.01 387.916C1340.46 387.407 1340.21 386.669 1340.25 385.702L1340.61 379.594C1340.71 378.016 1340.31 376.756 1339.43 375.814C1338.51 374.847 1337.27 374.364 1335.68 374.364V374.554C1337.29 374.554 1338.54 374.084 1339.43 373.142C1340.31 372.2 1340.71 370.94 1340.61 369.362L1340.25 363.254C1340.21 362.236 1340.46 361.485 1341.01 361.002C1341.54 360.518 1342.31 360.276 1343.31 360.276H1345.04V356.535H1342.99C1341.6 356.535 1340.4 356.79 1339.39 357.299C1338.38 357.808 1337.61 358.559 1337.09 359.551C1336.53 360.518 1336.3 361.676 1336.4 363.025L1336.76 369.133C1336.81 370.33 1336.61 371.208 1336.15 371.768C1335.67 372.327 1334.77 372.607 1333.45 372.607H1329.34V376.349H1333.45C1334.77 376.349 1335.67 376.641 1336.15 377.227C1336.61 377.787 1336.81 378.652 1336.76 379.823L1336.4 385.893C1336.3 387.242 1336.53 388.4 1337.09 389.367C1337.61 390.359 1338.38 391.11 1339.39 391.619C1340.4 392.154 1341.6 392.421 1342.99 392.421H1345.04Z"
                fill="currentColor"></path>
            </svg>

            <h1 class="text-3xl md:text-6xl font-bold mb-6">
              <span>Ybor Technology LLC.</span>
              <br />
              <span>Terms of Service</span>
            </h1>
            <svg
              width="31"
              height="32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 32V28.6638H1.58279C2.4841 28.6638 3.18756 28.4369 3.69318 27.983C4.19879 27.5291 4.42961 26.8709 4.38565 26.0085L4.0559 20.5617C3.96796 19.1546 4.33069 18.0312 5.14407 17.1915C5.97943 16.3291 7.12255 15.8979 8.57344 15.8979V16.0681C7.10057 16.0681 5.95744 15.6482 5.14407 14.8085C4.33069 13.9688 3.96796 12.8454 4.0559 11.4383L4.38565 5.99149C4.42961 5.08369 4.19879 4.41419 3.69318 3.98298C3.20955 3.55177 2.50608 3.33617 1.58279 3.33617H0V0H1.87956C3.15459 0 4.25375 0.22695 5.17704 0.68085C6.10033 1.13475 6.8038 1.80426 7.28743 2.68936C7.79304 3.55177 8.00188 4.5844 7.91395 5.78723L7.5842 11.234C7.54023 12.3007 7.72709 13.0837 8.14477 13.583C8.58443 14.0823 9.4088 14.3319 10.6179 14.3319H14.377V17.6681H10.6179C9.4088 17.6681 8.58443 17.9291 8.14477 18.4511C7.72709 18.9504 7.54023 19.722 7.5842 20.766L7.91395 26.1787C8.00188 27.3816 7.79304 28.4142 7.28743 29.2766C6.8038 30.1617 6.10033 30.8312 5.17704 31.2851C4.25375 31.7617 3.15459 32 1.87956 32H0Z"
                fill="currentColor"></path>
              <path
                d="M23.5255 31.9997L25.9217 22.1267H30.714L26.8202 31.9997H23.5255ZM27.569 14.4759C26.8302 14.4759 26.2212 14.2219 25.742 13.714C25.2827 13.2061 25.0531 12.5711 25.0531 11.8092C25.0531 11.0473 25.2927 10.4124 25.7719 9.90448C26.2512 9.39655 26.8502 9.14258 27.569 9.14258H28.1681C28.8869 9.14258 29.486 9.39655 29.9652 9.90448C30.4444 10.4124 30.6841 11.0473 30.6841 11.8092C30.6841 12.5711 30.4444 13.2061 29.9652 13.714C29.5059 14.2219 28.9069 14.4759 28.1681 14.4759H27.569Z"
                fill="currentColor"></path>
              <path
                d="M1329.34 398.736V394.995H1331.12C1332.13 394.995 1332.92 394.741 1333.48 394.232C1334.05 393.723 1334.31 392.985 1334.26 392.017L1333.89 385.909C1333.79 384.331 1334.2 383.071 1335.11 382.13C1336.05 381.163 1337.33 380.679 1338.96 380.679V380.87C1337.31 380.87 1336.02 380.399 1335.11 379.457C1334.2 378.516 1333.79 377.256 1333.89 375.678L1334.26 369.57C1334.31 368.552 1334.05 367.801 1333.48 367.317C1332.94 366.834 1332.15 366.592 1331.12 366.592H1329.34V362.851H1331.45C1332.88 362.851 1334.11 363.105 1335.15 363.614C1336.18 364.123 1336.97 364.874 1337.52 365.867C1338.08 366.834 1338.32 367.992 1338.22 369.341L1337.85 375.449C1337.8 376.645 1338.01 377.523 1338.48 378.083C1338.97 378.643 1339.89 378.923 1341.25 378.923H1345.47V382.664H1341.25C1339.89 382.664 1338.97 382.957 1338.48 383.542C1338.01 384.102 1337.8 384.967 1337.85 386.138L1338.22 392.208C1338.32 393.557 1338.08 394.715 1337.52 395.682C1336.97 396.675 1336.18 397.426 1335.15 397.935C1334.11 398.469 1332.88 398.736 1331.45 398.736H1329.34Z"
                fill="currentColor"></path>
              <path
                d="M1355.73 398.737L1358.41 387.665H1363.79L1359.42 398.737H1355.73ZM1360.26 379.085C1359.43 379.085 1358.75 378.8 1358.21 378.231C1357.7 377.661 1357.44 376.949 1357.44 376.094C1357.44 375.24 1357.71 374.528 1358.24 373.958C1358.78 373.389 1359.45 373.104 1360.26 373.104H1360.93C1361.74 373.104 1362.41 373.389 1362.95 373.958C1363.48 374.528 1363.75 375.24 1363.75 376.094C1363.75 376.949 1363.48 377.661 1362.95 378.231C1362.43 378.8 1361.76 379.085 1360.93 379.085H1360.26Z"
                fill="currentColor"></path>
            </svg>
          </div>
          <Image
            src={TerminalImage}
            alt="Terminal"
            class="w-full h-auto max-w-fit"
          />
        </div>
      </div>

    <!-- PLATFORM -->
    <div class="bg-white py-12">
      <div
        class="mx-auto max-w-sm md:max-w-4xl xl:max-w-7xl relative z-10 px-4 md:px-0"
      >
        <div class="md:flex items-center justify-between gap-4">
          <div class="flex-1">
            <div class="flex flex-col gap-y-4 mt-12">           
              
              <!-- DOC -->
              <div set:html={TermsHtml}></div>
              <!-- END DOC -->

            </div>
          </div>
        </div>
      </div>
    </div>

    <Analytics />
    <!-- <Terminal /> -->
    <Footer />
  </Layout>
</PostHogLayout>
