<footer class="flex justify-between items-center py-4 px-8 text-sm text-gray-400 jetbrains-mono">
    <div>
        // &copy; {new Date().getFullYear()} Ybor Technologies, LLC. All rights reserved.
    </div>

    <div class="flex gap-4">
        <a href="https://github.com/ybor-ai/ybor" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-300 hover:underline">GitHub</a>
        <a href="https://discord.gg/ybor" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-300 hover:underline">LinkedIn</a>
    </div>
</footer>

<style>
	footer {
		background: #16181C;
        color: #4F5256;
	}
</style>