<footer
  class="md:flex justify-between items-center py-4 px-8 text-sm text-gray-400 jetbrains-mono"
>
  <div class="mb-2 md:mb-0">
    // &copy; {new Date().getFullYear()}
    <a class="hover:underline" href="https://ybor.dev">Ybor Technologies, LLC.</a> All rights reserved.
  </div>

  <div class="flex gap-4">
    <!-- <a href="https://github.com/ybor-ai/ybor" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-300 hover:underline">GitHub</a> -->
    <a
      href="https://www.linkedin.com/company/ybor-ai/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-400 hover:text-gray-300 hover:underline">LinkedIn</a
    >
  </div>
</footer>

<style>
  footer {
    background: var(--landing-terminal-background);
    color: var(--landing-foreground);
  }
</style>
