---
import { ArrowDownIcon } from "@lucide/astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="container mx-auto px-6 md:py-8 py-4" data-animate="fade-up">
  <div class="border-l has-circle-end border-gray-900 pb-7">
    <ArrowDownIcon class="w-3 h-3 absolute -bottom-1 -left-[6.5px]" />
    <div class="pl-6 mb-2">
      <div class="font-mono text-sm text-gray-600 -translate-y-2.5">
        {title}
      </div>
    </div>
    <div
      class="border p-6 md:p-12 rounded-lg rounded-l-none bg-card border-gray-900 border-l-0"
    >
      <slot />
    </div>
  </div>
</section>
