---
import Logo from "./Brand";
import { BookCheck } from "lucide-react";
import Form from "../components/Form";
---

<main>
  <div
    class="terminal mx-auto max-w-sm md:max-w-4xl xl:max-w-7xl rounded-3xl p-2 lg:p-6 my-6"
  >
    <div class="header mb-6">
      <div class="actions">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      <Logo />
      <div class="actions"></div>
    </div>

    <div
      class="jetbrains-mono rounded-2xl code-preview h-full p-4 md:p-8 border-frame border"
    >
      <div class="flex items-center gap-4">
        <span class="text-yellow-200"><BookCheck size={20} /></span>
        <span class="text-md"
          >welcome > <span class="text-white">ybor.dev</span></span
        >
      </div>
      <div class="text-white/25 text-xl md:text-3xl">
        <h1 class="line">
          1 ) => <span class="text-indigo-500">Build and deploy</span>
        </h1>
        <h1 class="line bg-green-500/5 md:rounded-2xl">
          2 <span
            class="rounded-full bg-green-400 text-black h-4 w-4 md:w-6 md:h-6 inline-flex items-center justify-center"
            >+</span
          > /** <span class="text-white/50">Enterprise grade applications</span>
        </h1>
        <h1 class="line">
          3 <span class="text-sm md:text-xl pl-4 md:pl-14"
            >benefit_1 =
          </span><span class="text-white text-sm md:text-xl"
            >deploy_any_cloud</span
          >
        </h1>
        <h1 class="line">
          4 <span class="text-sm md:text-xl pl-4 md:pl-14"
            >benefit_2 =
          </span><span class="text-white text-sm md:text-xl"
            >faster_than_ever</span
          > }
        </h1>
        <div class="bg-green-500/5 md:rounded-2xl vertical-dashed">
          <h2 class="line">
            5 <span
              class="rounded-full bg-green-400 text-black h-4 w-4 md:w-6 md:h-6 inline-flex items-center justify-center relative z-10"
              >+</span
            > /** <span class="text-white/50">The Ybor Platform</span>
          </h2>
          <h3 class="line">
            6 <span class="text-sm md:text-xl pl-4 md:pl-14"
              >value_prop_1 = <span class="text-white"
                >End-to-end automation and orchestration for the entire SDLC
                process</span
              ></span
            >
          </h3>
          <h3 class="line">
            7 <span class="text-sm md:text-xl pl-4 md:pl-14"
              >value_prop_2 = <span class="text-white"
                >Manage new and existing workloads to optimize cost</span
              ></span
            >
          </h3>
          <h3 class="line">
            8 <span
              class="rounded-full bg-green-400 text-black h-4 w-4 md:w-6 md:h-6 inline-flex items-center justify-center relative z-10"
              >+</span
            >
            <span class="text-sm md:text-xl pl-3.5"
              >value_prop_3 = <span class="text-white"
                >Unlock the cloud, schedule a demo today</span
              ></span
            >
          </h3>
        </div>
      </div>

      <Form client:load />
    </div>
  </div>

  <style>
    main {
      font-family: "Space Mono", monospace;
      font-weight: 400;
      font-style: normal;
      color: var(--landing-foreground);
    }

    .terminal {
      background: var(--landing-terminal-background);
    }

    .terminal .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .terminal .header .actions {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .circle {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background: var(--landing-circle-background);
    }

    .code-preview {
      background: var(--landing-background);
    }

    .line {
      padding: 0.75rem 0.5rem 0.75rem 1.5rem;
      line-height: 1.25;
    }

    .vertical-dashed {
      position: relative;
    }

    .vertical-dashed::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 2px;
      z-index: 0;
      border-left: 2px dashed var(--color-green-400);
    }

    @media (width >= 48rem) {
      .vertical-dashed::after {
        top: 10%;
        left: 71px;
        height: 80%;
      }

      .line {
        line-height: 1.75;
      }
    }
  </style>
</main>
