---
import Logo from "./logo";
---

<main>
	<div class="terminal">
		<div class="header">
			<div class="actions">
				<div class="circle"></div>
				<div class="circle"></div>
				<div class="circle"></div>
			</div>
			<Logo />
			<div class="actions"></div>
		</div>

	</div>

<style>
	main {
		font-family: "Space Mono", monospace;
		font-weight: 400;
		font-style: normal;
		color: #454b56;
	}

	.terminal {
		background: #16181C;
		border-radius: 1rem 1rem 0 0;
		margin: 1.5rem 1.5rem 0;
		height: calc(100vh - 58px);
		padding: 24px;
		display: flex;
		flex-direction: column;
		/* justify-content: space-between; */
	}

	.terminal .header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
	}

	.terminal .header .actions {
		width: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.circle {
		width: 0.75rem;
		height: 0.75rem;
		border-radius: 50%;
		background: #24272D;
	}
</style>
