---
import { Toaster } from "@/components/ui/toaster";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ybor.dev</title>
    <meta
      name="description"
      content="The Ybor AI Platform: Enterprise software made easy. Accelerate AI software development with extreme automation."
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
    <Toaster client:load />
  </body>
</html>


<style is:global>
.jetbrains-mono {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
</style>
